@mixin roboto-12-16-096-dark
  font-family: Roboto, Arial, sans-serif
  font-size: .75rem
  line-height: 1rem
  letter-spacing: .06rem
  color: $dark

@mixin roboto-14-20-096-light-uppercase
  font-family: Roboto, Arial, sans-serif
  font-size: .875rem
  line-height: 1.25rem
  letter-spacing: .06rem
  color: $light
  text-transform: uppercase

@mixin roboto-14-21-light
  font-family: Roboto, Arial, sans-serif
  font-size: .875rem
  line-height: 1.312rem
  color: $light

@mixin roboto-14-24-light
  font-family: Roboto, Arial, sans-serif
  font-size: .875rem
  line-height: 1.5rem
  color: $light

@mixin robotoBold-14-24-light
  font-family: RobotoBold, Arial, sans-serif
  font-size: .875rem
  line-height: 1.5rem
  color: $light
  font-weight: 700

@mixin roboto-16-24-light
  font-family: Roboto, Arial, sans-serif
  font-size: 1rem
  line-height: 1.5rem
  color: $light

@mixin robotoBold-16-24-light-700
  font-family: RobotoBold, Arial, sans-serif
  font-size: 1rem
  line-height: 1.5rem
  color: $light
  font-weight: 700

@mixin roboto-16-36-light
  font-family: Roboto, Arial, sans-serif
  font-size: 1rem
  line-height: 2.25rem
  color: $light
  text-decoration: none

@mixin roboto-18-27-light
  font-family: Roboto, Arial, sans-serif
  font-size: 1.125rem
  line-height: 1.687rem
  color: $light

@mixin roboto-86-90-032-light-uppercase
  font-family: Roboto, Arial, sans-serif
  font-size: 5.375rem
  line-height: 5.625rem
  letter-spacing: .02rem
  color: $light
  text-transform: uppercase

@mixin loraItalic-86-90-032-light-uppercase
  font-family: LoraItalic, Arial, sans-serif
  font-size: 5.375rem
  line-height: 5.625rem
  letter-spacing: .02rem
  color: $light
  text-transform: uppercase
  font-style: italic