@mixin font-roboto-1
  font-family: Roboto, Arial, sans-serif
  font-size: .875rem
  line-height: 20px
  letter-spacing: .06rem
  color: $light
  text-transform: uppercase

@mixin font-roboto-2
  font-family: Roboto, Arial, sans-serif
  font-size: .75rem
  line-height: 16px
  letter-spacing: .06rem
  color: $black